<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kitchening | Home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <section>
            <img src="/img/logo.jpg" alt="logo">
        </section>
        <nav>
            <ul>
                <li> <a href="">Home</a></li>
                <li> <a href="">Quienes</a></li>
                <li> <a href="">Servicio</a></li>
                <li> <a href="">Portafolio</a></li>
                <li> <a href="">Sucursales</a></li>
                <li> <a href="">Contacto</a></li>
        </nav>
    </header>
    <main>
        <section>
            <img src="/img/img-banner.jpg" alt="Banner">
        </section>
        <section>
            <article>
                <article>
                    <img src="/img/img-pdto-1.jpg" alt="img 1" />
                    <h4>Lorem ipsum amet</h4>
                    <p>
                      Lorem ipsum dolor sit amet consectetntium qui eum est reprehenderit. <br> Lorem, consectetntium qui eum est <br> Lorem ipsum dolor sit amet consectetur adipisicing.
                    </p>
                    <input type="text" placeholder="Ver Más">
                    <div>
                        <h5>AMPLIAR FOTO</h5>
                    </div>
            </article>
            <article>
                <img src="/img/img-pdto-2.jpg" alt="img 2" />
                <h4>Lorem ipsum amet</h4>
                <p>
                  Lorem ipsum dolor sit amet consectetntium qui eum est reprehenderit. <br> Lorem, consectetntium qui eum est <br> Lorem ipsum dolor sit amet consectetur adipisicing.
                </p>
                <input type="text" placeholder="Ver Más">
                <div>
                    <h5>AMPLIAR FOTO</h5>
                </div>
        </article>
        <article>
            <img src="/img/img-pdto-3.jpg" alt="img 3" />
            <h4>Lorem ipsum amet</h4>
            <p>
              Lorem ipsum dolor sit amet consectetntium qui eum est reprehenderit. <br> Lorem, consectetntium qui eum est <br> Lorem ipsum dolor sit amet consectetur adipisicing.
            </p>
            <input type="text" placeholder="Ver Más">
            <div>
                <h5>AMPLIAR FOTO</h5>
            </div>
    </article>
    <article>
        <img src="/img/img-pdto-1.jpg" alt="img 2" />
        <h4>Lorem ipsum amet</h4>
        <p>
          Lorem ipsum dolor sit amet consectetntium qui eum est reprehenderit. <br> Lorem, consectetntium qui eum est <br> Lorem ipsum dolor sit amet consectetur adipisicing.
        </p>
        <input type="text" placeholder="Ver Más">
        <div>
            <h5>AMPLIAR FOTO</h5>
        </div>
</article>
<article>
    <img src="/img/img-pdto-2.jpg" alt="img 3" />
    <h4>Lorem ipsum amet</h4>
    <p>
      Lorem ipsum dolor sit amet consectetntium qui eum est reprehenderit. <br> Lorem, consectetntium qui eum est <br> Lorem ipsum dolor sit amet consectetur adipisicing.
    </p>
    <input type="text" placeholder="Ver Más">
    <div>
        <h5>AMPLIAR FOTO</h5>
    </div>
</article>
<article>
    <img src="/img/img-pdto-3.jpg" alt="img 1" />
    <h4>Lorem ipsum amet</h4>
    <p>
      Lorem ipsum dolor sit amet consectetntium qui eum est reprehenderit. <br> Lorem, consectetntium qui eum est <br> Lorem ipsum dolor sit amet consectetur adipisicing.
    </p>
    <input type="text" placeholder="Ver Más">
    <div>
        <h5>AMPLIAR FOTO</h5>
    </div>
</article>
        </section>
    </main>
    <footer>
        <nav>
            <ul>
                <li> <a href="">Home |</a></li>
                <li> <a href="">Quienes |</a></li>
                <li> <a href="">Servicio |</a></li>
                <li> <a href="">Portafolio |</a></li>
                <li> <a href="">Sucursales |</a></li>
                <li> <a href="">Contacto </a></li>
        </nav>
    </footer>
</body>
</html>