*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('/img/bg-body.png');
}

a {
    text-decoration: none;
    color: #ffffff;
}

li {
    list-style: none;
}